<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <title>{% block title %}SoftPere{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SoftPere desarroyo web">
        <meta name="author" content="Pedro Sastre">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}

{% include 'BraincraftedBootstrapBundle::_html5shiv.html.twig' %}
        <style>
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
            </style>
        </head>

        <body data-spy="scroll" data-target=".bs-docs-sidebar">



{% block body %}{% endblock %}

            <!-- Footer
            ================================================== -->
            <footer class="footer">
                <div class="container">
                    <p class="pull-right"><a href="#">Subir</a></p>
                    <p>Diseñado por <a href="http://softpere.com">SoftPere.com</a>.</p>
                    <p> Pedro Sastre <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/pedrosastre" target="_blank">@pedrosastre</a>.</p>
                </div>
            </footer>

{% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
            <script src="{{ asset('bundles/braincraftedbootstrap/js/application.js') }}"></script>
            <script src="{{ asset('bundles/braincraftedbootstrap/js/google-code-prettify.js') }}"></script>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <script src="{{ asset('bundles/braincraftedbootstrap/js/jquery-1.7.2.min.js') }}"></script>
            <script src="{{ asset('bundles/braincraftedbootstrap/js/bootstrap.js') }}"></script>

        </body>

    </html>